body {
    background-color: #745cc1;
    font-family: "Roboto", sans-serif;
    text-align: center; /*PRA CENTRALIZAR TODOS OS TEXTOS E IMAGENS*/
}

.card {
    /* width: 375px;
    height: 667px; */
    /* margin: auto; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

img {
    /* margin: auto; */ /*NÃO PRECISA, FOI FEITO COM TEX-ALIGN NO BODY*/
    margin-top: 65px;
}

form {
    padding-top: 60px;
    padding-left: 25%;
    padding-right: 25%;
}

input {
    display: block; /*É uma Opção Melhor do que usar a tag <BR> no HTML*/
    width: 100%;
    margin-bottom: 50px;
    background-color: transparent; /*Background fica TRANSPARENTE*/
    border: none; /*Pra tirar as bordas padrão input*/
    border-bottom: 1px solid #fff; /*Adicionar borda apenas embaixo*/
}

::-webkit-input-placeholder {
    /*ACABA SENDO UMA GAMBIARRA?*/
    /*USAR UM PSEUDO ELEMENTO, que é o webkit é pro CHROME, mas também existe algo semelhante pra IE e Firefox*/
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

button {
    /* width: 247px; */ /*NÃO AMARRAR LARGURA, SENÃO NÃO SERÁ RESPONSIVO*/
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    border: none; /*RETIRAR A BORDAR QUE JÁ VEM COMO PADRÃO NA TAG BUTTON*/
    /* text-align: center;
    vertical-align: middle; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 18px;
    font-weight: 500;
    color: #39393a;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #fff;
}
