/* body {
        background-color: blue;
    } */ /*TESTE DO MEDIA QUERIE, mudar cor do background pra largura maior ou igual a 500px*/

.container {
    width: 960px; /*PRECISO FAZER A CONTA MANUALMENTE PRA CHEGAR A ESSE VALOR DE 960PX*/
    margin: 0 auto; /*Margin 0 NO TOP E BOTTOM, E Margin "auto" NO RIGHT E LEFT*/
}

.card {
    width: 300px; /*FOI FEITO A ESCOLHA POR USAR 300PX DE FORMA MANUAL*/
    padding-right: 20px;
    float: left; /*YOUTUBE E OUTROS SITES DE CARDS USAM BASTANTE O FLOAT*/
}

/*DICAS:

-> EM PROJETOS MAIS COMPLEXOS, POSSO E DEVO SEPARAR EM ARQUIVOS DE CSS DIFERENTES OS ESTILOS PRA MOBILE E PRA DESKTOP PRA NÃO FICAR COM O CÓDIGO POLUÍDO

-> SE FOR TUDO NO MESMO CSS, ENTÃO PRECISO USAR @MEDIA (MIN-WIDTH: 500PX {} DENTRO DO CSS, JÁ SE FOREM ARQUIVOS DE CSS DIFERENTES P/ MOBILE E P/ DESKTOP AÍ VOU USAR O ATRIBUTO MEDIA APENAS NO HEAD DO HTML DENTRO DA TAG LINK, media="(min-width:500px)"

*/
